* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Arial", Sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.error {
  width: 100%;
  padding: 8px;
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

section#form {
  border-bottom: 1px solid #EEE;
}

input[type="text"],
#commentBox {
  margin: 0 10px 10px 0;
  background: #F3F3F3;
  border: 1px solid #AAA;
  border-top: 1px solid #CCC;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px #DDD;
  outline: none;
  font-size: 1em;
  padding: 5px;
  color: #AAA;
}

input[type="text"]:focus,
#commentBox:focus {
  border: 1px solid #777;
  border-top: 1px solid 999;
}

  #commentBox {
    display: block;
    width: 100%;
    height: 90px;
    padding: 5px;
    resize: vertical;
  }

#submit {
  float: right;
  margin: 0;
  padding: 6px 18px;
  border: 1px solid #CCC;
  border-radius: 3px;
  background: #DDD;
  background: linear-gradient(top, #EEE, #DDD);
  background: -webkit-linear-gradient(top, #EEE, #DDD);
  background:    -moz-linear-gradient(top, #EEE, #DDD);
  background:      -o-linear-gradient(top, #EEE, #DDD);
  font-size: 0.9em;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFF;
  box-shadow: inset 0 1px 1px #FFF;
  cursor: pointer;
}

  #submit:hover {
    border: 1px solid #AAA;
    background: #DFDFDF;
    background: linear-gradient(top, #F1F1F1, #DFDFDF);
    background: -webkit-linear-gradient(top,#F1F1F1, #DFDFDF);
    background:    -moz-linear-gradient(top,#F1F1F1, #DFDFDF);
    background:      -o-linear-gradient(top,#F1F1F1, #DFDFDF);
  }

#form img {
  height: 25px;
  float: right;
  margin: 3px 10px;
}

section#comments article {
  width: 100%;
  padding: 20px 10px;
  padding-left: 60px;
  border-bottom: 1px solid #EEE;
}
  
  section#comments article.new {
    margin-top: -50px;
    opacity: 0;
  }

  section#comments img {
    float: left;
    width: 50px;
    margin-left: -60px;
    boder-radius: 20px;
  }

  section#comments article .nick {
    font-weight: bold;
    font-size: 0.9em;
  }

  section#comments article .date {
    display: inline-block;
    margin-left: 10px;
    font-size: 0.8em;
    color: #888;
  }

  section#comments article p {
    margin-top: 5px;
  }
